@font-face {
    font-family: 'revicons';
    src: url('../font/revicons.eot?5510888');
    src: url('../font/revicons.eot?5510888#iefix') format('embedded-opentype'),
    url('../font/revicons.woff?5510888') format('woff'),
    url('../font/revicons.ttf?5510888') format('truetype'),
    url('../font/revicons.svg?5510888#revicons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="revicon-"]:before, [class*=" revicon-"]:before {
    font-family: "revicons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}

h1, h2, h3, h4, h5, h6,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
    color: black;
}

.feature {
    background: #286165 linear-gradient(to bottom, #286165, olivedrab);
    color: black;
}

#feature-carousel {
    min-height: 200px;
}

#feature-carousel img {
    margin: 0 auto;
}

.footer-blurb {
    padding: 30px 0;
    margin-top: 20px;
    background-color: #eee;
    color: black;
}

.footer-blurb-item {
    padding: 20px;
}

.small-print {
    background-color: #fff;
    padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.small-print {
    text-align: center;
}

form.search {
    margin-bottom: 20px;
}
.change {

    color: #286165;
}
#nav-right {
    float: right;
    position: relative;
    width: 225px;
    z-index: 0;
}
