{% extends "base.html.twig" %}


{% block body %}
<div class="container">
Hello World Haykel page indexation par le controle user bundle  de page client!
<p> <H1>Votre page de client </H1></p>
    <a href="{{ path('fos_user_security_logout') }}" >Déconecter</a>
</div>
{% endblock %}